container_commands:
  01_reload_nginx:
    command: "service nginx reload"
    ignoreErrors: true

files:
  "/etc/nginx/conf.d/elasticbeanstalk/static_files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location ~ \.(png|jpg|jpeg|gif|ico|css|js)$ {
        alias /var/app/current/public;
        expires 1y;
        add_header Cache-Control "public, max-age=31536000";
        access_log off;
      }